<head>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/cars.css" %}'>
</head>
<h2>車両情報設定</h2>
<form method="post">
    <p>
    <div id="vehicle_number">
        <label>車両番号:</label>
        <input type="text"  maxlength="4" id="place_name" name="place_name" placeholder="札幌" required>
        <input type="number" maxlength="3" id="class_number" name="class_number" placeholder="100" required>
        <input type="text" maxlength="1" id="kana" name="kana" placeholder="あ" required>
        <input type="number" maxlength="2" id="serial_number_top" name="serial_number_top" placeholder="88">
        -
        <input type="number" maxlength="2" id="serial_number_end" name="serial_number_end" placeholder="88" required>
    </div>
    </p>
    <p>
        <label for="id_now_mileage">走行距離:</label>
        <input type="number" id="now_mileage" name="now_mileage" placeholder="車両の初期メーター値km" required>    
    </p>
    {% csrf_token %}
    <button type="submit" id="car_post">
        車両追加
    </button>
</form>
