<head>
    {% load static %}
    <link rel="stylesheet" href='{% static "css/cars.css" %}'>
</head>
<h2>車両情報設定</h2>
<form method="post">
    <div id="vehicle_number">
        <p>
            <label>車両番号:
                <input type="text"  maxlength="4" id="place_name" name="place_name" placeholder="札幌" value={{car.place_name}} required>
                <input type="number" maxlength="3" id="class_number" name="class_number" placeholder="100" value={{car.class_number}} required>
                <input type="text" maxlength="1" id="kana" name="kana" placeholder="あ" value={{car.kana}} required>
                <input type="number" maxlength="2" id="serial_number_top" name="serial_number_top" value={{top}} placeholder="88">
                -
                <input type="number" maxlength="2" id="serial_number_end" name="serial_number_end" value={{end}} placeholder="88" required>
            </label>
        </p>
    </div>
    <p>
        <label for="now_mileage">走行距離:
            <input type="number" id="now_mileage" name="now_mileage" placeholder="車両の初期メーター値km" value={{car.now_mileage}} required>    
        </label>
    </p>
    {% csrf_token %}
    <button type="submit" id="car_post">
        車両追加
    </button>
</form>
