{% block page_title %}日報一覧{% endblock %}
{% block title %}日報一覧{% endblock %}
{% block content %}
    <h2>未提出日報一覧</h2>
    {% for checklist in checklists %}
    <p class="checklist">{{ checklist }}</p>
    <button onclick="location.href='{% url 'checklist_edit' checklist.id %}'">点検編集</button>
    <button onclick="location.href='{% url 'snippet_display' checklist.id %}'">snippet作成</button>
    <hr>
    {% endfor %}
    <h2>提出済み日報一覧</h2>
    {% for post in posts %}      
    <p class="snippet_list">{{ post }}</p>
    <button onclick="location.href='{% url 'excelfile_download' post.id %}'">出力</button>
    <button onclick="location.href='{% url 'checklist_edit' post.checklist_id.id %}'">点検編集</button>
    <button onclick="location.href='{% url 'snippet_edit' post.id %}'">日報編集</button>
    <hr>
    {% endfor %}
{% endblock %}