
{% block page_title %}投稿{% endblock %}
{% block title %}投稿{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div id="form" style="">
            <p>
                <label for="id_day">アカウント:</label>
                <input type="number" required="" >
                <span>必須</span>
            </p>
            <p>
                <label for="id_day">車両:</label>
                <input type="number" required="" >
                <span>必須</span>
            </p>
            <p>
                <label for="id_day">出発時メーター:</label>
                <input type="number" required="" >
                <span>必須</span>
            </p>
            <p>
                <label for="id_day">到着時メーター:</label>
                <input type="number" required="" >
                <span>必須</span>
            </p>
            <p>
                <label for="id_start">始業時間:</label>
                <input type="time" required="" >
                <span>必須</span>                
            </p> 
            <p>
                <label for="id_end">終業時間:</label>
                <input type="time" name="end" required="" id="id_end">
                <span>必須</span>                
            </p> 
            <p>
                <label for="id_name">出発地点:</label>
                <input type="text" placeholder="出発地点" required="" maxlength="20">   
                <span>必須</span>
            </p>
            <p>
                <label for="id_name">最終到着地点:</label>
                <input type="text" placeholder="最終到着地点" required="" maxlength="20">   
                <span>必須</span>
            </p>
            <p>
                <label for="id_name">休憩地点:</label>
                <input type="text" placeholder="休憩地点" required="" maxlength="20">   
                <span>必須</span>
            </p>
            <p>
                <label for="id_weather">天気:</label>
                <select name="weather" required="天気を選択" maxlength="5" id="id_weather">
                    <option value="" selected="">天気を選択</option>

                    <option value="0">晴れ</option>

                    <option value="1">曇り</option>

                    <option value="2">雨</option>

                    <option value="3">雪</option>

                </select>   
                <span>必須</span>             
            </p>                      
            <p>
                <label for="id_oiling">給油:</label>
                <input type="number" name="oiling" step="any" id="id_oiling">                
            </p>                     
            <p>
                <label for="id_oil">オイル:</label>
                <input type="number" name="oil" step="any" id="id_oil">                
            </p>
            <p>
                <label for="id_start">運転時間:</label>
                <input type="time" required="" >
                <span>必須</span>                
            </p> 
            <p>
                <label for="id_end">運転以外の業務時間:</label>
                <input type="time" name="end" required="" id="id_end">
                <span>必須</span>                
            </p>           
            <p>
                <label for="id_text">備考欄:</label>
                <textarea name="text" cols="30" rows="8" placeholder="連絡事項や追加の記入はこちら" maxlength="255" id="id_text"></textarea>                
            </p>
        </div>
        <button type="submit" class="button">投稿</button>
    </form>
{% endblock %}