{% block page_title %}日報一覧{% endblock %}
{% block title %}日報一覧{% endblock %}
{% block content %}
    <h2>未提出日報一覧</h2>
    <h3>チェックリスト全部表示してます、規制してください(忘れずに！)</h3>
    {% for not_post in not_posts %}
    <div class="not_post">
        <p class="checklist">{{ not_post }}</p>
        <hr>
    </div>
    {% endfor %}
    <h2>提出済み日報一覧</h2>
    {% for post in posts %}      
    <div class="post">
        <p class="snippet_list">{{ post.free_space }}</p>
        <hr>
    </div>
    {% endfor %}
{% endblock %}