{% block page_title %}投稿{% endblock %}
{% block title %}投稿{% endblock %}
{% load static %}
{% block content %}
    <form method="post">
        <h2>日報基本情報入力</h2>
        {{ form.as_p }}
        <h2>異常報告入力</h2>
        {{ form_trouble.as_p }}
        <h2>工程入力</h2>
            
        <div id="form_area">
          {{ form_process.as_p }}
          <hr>
        </div>
            
        <input type="button" value="フォーム追加" onclick="addForm()">
        
        {% csrf_token %}
        <button name="btn_post" type="submit" class="snippet_button">
            投稿
        </button>
    </form>
<script src="{% static 'js/process_add.js' %}"></script>
{% endblock %}