#place_name{
    display: inline;
    width: 50px;
}

#class_number{
    display: inline;
    width: 50px;
}

#kana {
    display: inline;
    width: 25px;
}

#serial_number_top{
    display: inline;
    width: 40px;
}

#serial_number_end{
    display: inline;
    width: 40px;
}

#now_mileage {
    display: inline;
    width: 240px;
}
