input.vehicle_number_place,
input.vehicle_number_type{
    display: inline-block;
    width: 50px;
}

input.vehicle_number_use {
    display: inline-block;
    width: 25px;
}

input.vehicle_number_top, 
input.vehicle_number_end{
    display: inline-block;
    width: 40px;
}

input.now_mileage {
    display: inline-block;
    width: 240px;
}
